footer {
	position: fixed;
	padding: 0 1em;
	bottom: 1em;
	width: 100%;
	left: 0;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	z-index: 1000;
}

footer a {
	color: black;
}