/*------------------------------------*\
  #MAIN
\*------------------------------------*/

/**
 * CONTENTS
 * Areana...............Ajdusts the are.na import page.
 * Global...............Globally-available variables and config.
 * Canvas...............Control canvas sketch area.
 * Footer...............The main page footer. 
 * Header...............The main page header
 * Media.................Control sizes on mobiles.
 * Variables.............Control the ::root variables.
 * Welcome...............Control the main.
 */

@import 'global.css';
@import 'variable.css';
@import 'welcome.css';
@import 'logonav.css';
@import 'footer.css';
@import 'arena.css';
@import 'canvas.css';
@import 'media.css';
@import 'projects.css';
/* @import './reveal/reset.css';
@import './reveal/reveal.css';
@import './reveal/theme.css'; */

main {
	padding-bottom: 10em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	height: 1500px; /* Used in this example to enable scrolling */
}

