@media (max-width: 835px) {

	.logo-pos {
		padding-top: 0rem;
	}

	.logo-large {
		font-size: 4rem;
	}

	.logo-small {
		font-size: 2rem;
	}

}

@media (max-width: 570px) {

	.logo-pos {
		padding-top: 0rem;
	}

	.logo-large {
		font-size: 2.5rem;
	}

	.logo-small {
		font-size: 0.5rem;
	}
}

@media (max-width: 400px) {

	.logo-pos {
		padding-top: 0rem;
	}

	.logo-large {
		font-size: 1.5rem;
	}

	.logo-small {
		font-size: 0.5rem;
	}
}