.padding-right-large {
  padding-right: 0rem;
}

.padding-top-large {
  padding-top: 6rem;
}

.padding-top-small {
  padding-top: 2rem;
}

.padding-bottom-small {
  padding-bottom: 2rem;
}

.padding-right-small {
  padding-right: 2rem;
}

.padding-left-small {
  padding-left: 2rem;
}

.padding-top-xsmall {
  padding-top: 6rem;
}
