:root {
    /*   color variables */
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f0f7f8;
    --clr-gray220: rgb(220, 220, 220);
    --clr-black: #000000;
    --clr-white: white;
  
    /*   border radius */
    --radius: 0.2rem;
  
    /* checkbox styles */
    --primary: white;
  }